[submodule "plugin-sdk"]
	path = plugin-sdk
	url = https://github.com/Fabio3rs/plugin-sdk.git
[submodule "cereal"]
	path = cereal
	url = https://github.com/USCiLab/cereal
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
